body{
    background-color: black;
}
.tiger{
    width:1525px;
    height:900px;
    filter: brightness(1.2);
    position: absolute;
    top: 0px;
    left: 100;

}
#cow{
    top: 20px;
}


.horse{
    border-style: solid;
    border-radius: 25px;
    border-color: white;

}
.joke{
    color: white;
     display: flex;
}
#sun{
    width:50px ;
    height:50px;
}
#soham{
    font-family: cursive;
     padding-top: 8px; 
     margin-left: 20px;
}
.cobra{
    gap: 10px;
}
#legend{
    color: white; 
    padding-left: 30px;
    
}
#priya{
    margin-left: 200px; 
    width: 250px;  
}
#jewel{
    margin-right: 10px;
}
.game{
    color: black; 
    border-style: dashed; 
    border-color: brown;
}
.joy{
    top: 200px;
    left: 150px; 
    position: absolute;
}
.virat{
    background-color: #2a2e32;
    margin-top: 600px;
    padding-top:20px ;
}
.rohit{
    color: white; 
    background-color: black;
    text-align: center;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a2e32 ;
}
.sumit{
    width:100px;
     height:500px; 
     padding-left: 300px; 
    padding-right: 300px;
}
#babar{
    width:800px;  
    height:1400px; 
     margin-left: 400px; 
    margin-right: -30px;
     margin-top: 650px;
     position: sticky;
}
.sachin{
    top: 1445px;
    left: 1px; 
    position: absolute;
}
.vvs{
    border-style: solid;
     border-color: aqua;
     max-width: 1500px;
     margin-top: -10px;
}
.david{
    width: 25rem; 
    height: 25rem;
}
#rahane{
    margin-left: -12px;
}
#pujara{
     margin-left: 550px; 
     margin-top: -250px;
}
#bumrah{
    margin-left: 1085px;
     margin-top: -550px;
}
#pat{
     margin-top: 50px; 
     margin-left: -12px;
}
#josh{
    margin-left: 1085px;
     margin-top: -410px;
}
#travis{
    margin-left: 550px; 
    margin-top: -200px;
}
#ashwin{
    margin-top:-150px; 
    margin-left: -12px;
}
#jaddu{
     margin-left: 1085px; 
     margin-top: -400px;
} 
#dhoni{
    margin-top: 40px;
    margin-left: -12px;
}
#anderson{
    margin-left: 550px;
     margin-top: -600px;
}
#stuart{
    margin-left: 1085px;
     margin-top: -200px;
}
#surya{
     margin-top: 50px; 
     margin-left: -12px;
}
#ben{
    margin-left: 550px ;
     margin-top: -550px;
}
#kane{
    margin-left: 1085px;
     margin-top: -250px;
}
#ross{
    margin-top:50px; 
    margin-left: -12px;
}
#abd{
    margin-left: 550px;
     margin-top: -480px;
}
#steyn{
    margin-left: 1085px;
     margin-top: -320px;
}
.smith{
    margin-left: 2px; 
    border-style: solid;
     border-color: aqua; 
     max-width: 1500px;
}
.kumar{
    color: white;
}
.lara{
    text-align: center;
}
.kallis{
    color: white;
}
.sehwag{
    margin-right:-1px;
}
.top-left pre h1{
    font-family: 'Lugrasimo', cursive;
    font-family: 'Bagel Fat One', cursive;
    color: aqua;
}

.bumba{
    color: yellow;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Bagel Fat One', cursive;
font-family: 'Lugrasimo', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Zilla Slab', serif;
font-size: 20px;
}
.football{
   background-color: springgreen; 
   max-width: 1500px; 
   margin-right :100px ; 
   margin-left: 5px;
}
#great{
    color: black;
}
.card:hover {
    transform: scale(1.07);
}
.best{
    border-style: dotted;
    border-radius: 12px;
    border-color: brown;
}
.joy{
left: 50px;
}
.dada{
    top: 300px;
    right: 100px;
    position: absolute;
}
.wolf{
    background-color: black;
}
#awe{
    margin-left: 40px;
     font-size: 10px;
     width: 130px;
     background-color: red;
}
.ishan{
    margin-left: 100px;
}